<p-button type="button" class="m-4" (click)="displayDialog = true">Add</p-button>



<div class="grid grid-cols-3 gap-4">
  <div *ngFor="let book of books" class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">
    <img class="object-cover h-48 w-full rounded-t-lg" [src]="book.coverImage" alt="Cover image">
    <div class="p-4">
      <h3 class="text-lg font-semibold mb-2">{{ book.title }}</h3>
      <p class="text-sm text-gray-600">{{ book.author }}</p>
      <p class="text-sm mt-2">{{ book.summary }}</p>
    </div>
    <div class="flex justify-end p-4 space-x-4">
      <i class="pi pi-pencil cursor-pointer text-blue-500" (click)="editBook(book)"></i>
      <i class="pi pi-trash cursor-pointer text-red-500" (click)="deleteBook(book.id!)"></i>
    </div>
  </div>
</div>


<p-dialog *ngIf="displayDialog" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}">
  <form [formGroup]="bookForm" class="bg-white p-8 rounded-lg shadow-md">
    <div class="flex flex-wrap -mx-4">
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Title</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="title" placeholder="Title">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Author</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="author" placeholder="Author">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Note</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="note" placeholder="Note">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Publisher</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="publisher" placeholder="Publisher">
      </div>
      <!-- Ajout des autres champs ici -->
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">ISBN</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="isbn" placeholder="ISBN">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Pages</label>
        <input type="number" pInputText class="p-inputtext p-component w-full" formControlName="pages" placeholder="Pages">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Genre</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="genre" placeholder="Genre">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Language</label>
        <input pInputText class="p-inputtext p-component w-full" formControlName="language" placeholder="Language">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Edition</label>
        <input type="number" pInputText class="p-inputtext p-component w-full" formControlName="edition" placeholder="Edition">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Publication Date</label>
        <input type="date" pInputText class="p-inputtext p-component w-full" formControlName="publicationDate">
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Cover Image</label>
        <input type="file" class="w-full" (change)="onCoverImageChange($event)" placeholder="Cover Image URL">
      </div>
      <div class="w-full px-4 mb-4">
        <label class="block mb-2">Summary</label>
        <textarea pInputText class="p-inputtext p-component w-full" formControlName="summary" placeholder="Summary"></textarea>
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Rating</label>
        <p-inputNumber class="p-component w-full" formControlName="rating" placeholder="Rating" [min]="0" [max]="5" [step]="0.5"></p-inputNumber>
      </div>
      <div class="w-1/2 px-4 mb-4">
        <label class="block mb-2">Last Modification Date</label>
        <input type="date" pInputText class="p-inputtext p-component w-full" formControlName="lastModificationDate">
      </div>
    </div>
    <div class="p-4 text-center">
      <button pButton class="p-button p-component bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" label="Save" (click)="createBook()"></button>
    </div>
  </form>

</p-dialog>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" [baseZIndex]="10000"></p-confirmDialog>

