/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "primeicons/primeicons.css";
@import '~primeng/resources/primeng.min.css';

html, body { height: 100%; }
body {
  background-color: #05243b;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.grecaptcha-badge {display: none !important;}
